@font-face {
    font-family: 'Hubot Sans';
    src: url('./fonts/Hubot-Sans.woff2') format('woff2 supports variations'),
    url('./fonts/Hubot-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}


h1, h2 {
    font-family: 'Hubot Sans';
}

body {
    background-color: #1a2733;
}

button {

    /* TODO: match app font */
}

a {
    color: greenyellow;
}
a:hover {
    text-decoration: underline;
}

.knopje {
    border: 1px solid #000;
    background: linear-gradient(180deg, #8C8C8C 25%, #434343 75%);
    display: inline-block;
    font: 19px "Windows", monospace;
    padding: 0 5px;
    font-size: 13px;
    color: darkred;
    text-decoration: none;
}

.knopje:hover {
    text-decoration: none;
}

.knopje:active {
    background: linear-gradient(180deg, #b0b0b0 25%, #504f4f 75%);
}