.instructions-link {
    animation: highlight 2s infinite;
    text-decoration: none;
}

@keyframes highlight {
    0%, 100% {
        color: #ff0000;
    }
    50% {
        color: #003cff;
    }
}

.hero {
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.4);
}
